body{
margin:0;
font-family:Arial;
}

/* ENTETE */

.entete{
border:1px solid black;
padding:5px;
}

/* barre du haut */

.topbar{
overflow:hidden;
}

.menu1{
border:1px solid blue;
height:30px;
float:left;
padding:5px;
}

.recherche{
border:1px solid red;
height:30px;
float:right;
padding:5px;
}

/* zone logo + pub */

.cadreLogoPub{
clear:both;
margin-top:5px;
border:1px solid purple;
overflow:hidden;
}

.logo{
display:inline-block;
border:1px solid orange;
width:30%;
height:80px;
text-align:center;
line-height:80px;
}

.pub{
display:inline-block;
border:1px solid green;
width:68%;
height:80px;
text-align:center;
line-height:80px;
}

/* contenu */

.main{
margin-top:5px;
border:1px solid black;
height:400px;
background-color:lightblue;
text-align:center;
line-height:400px;
}

/* pied de page */

.pdp{
margin-top:5px;
border:1px solid black;
height:50px;
background-color:lightgreen;
text-align:center;
line-height:50px;
}